@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary: #9dbeb7;
    --secondary: #e73213;
}

canvas {
    background-color: black;
}
video {
    display: none;
}
body {
    overflow: hidden;
    margin: 0;
}
.ui {
    z-index: 9999;
    position: absolute;
    color: var(--primary);
    padding: 4rem;
    top: 5rem;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.ui h1 {
    
    color: var(--primary);
    font-size: 4vmin;
}

.ui p {
    color: var(--primary);
    font-size: 2vmin;
}

.ui ul {
    font-size: 2vmin;
    position: relative;
    left: -2rem;
    margin-right: 1rem;
    list-style-type: none;
    color: var(--secondary);
}

.ui li {
    margin: 0;
    font-weight: 600;
}

.ui li:hover {
    color: var(--primary);
    margin: 0;
}

.navbar {
    padding: 2rem;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 2vmin;
    font-weight: 600;
    margin: 0;
    color: rgb(0, 0, 0);
}

.navbar-brand:hover {
    color: var(--secondary);
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    margin-right: 2rem;
    color: var(--secondary);
}



.nav-link::before {
    margin-right: .5rem;
    content: "//";
}

.nav-link:hover {
    color: var(--primary);
}

.nav-link:focus {
    color: var(--primary);
}


  @font-face {
	font-family: "GalanoGrotesqueW00-Bold";
	src: url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.eot");
	src: local("☺︎"), local("Galano Grotesque W00 Bold"), local("GalanoGrotesqueW00-Bold"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.eot?#iefix") format("embedded-opentype"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.woff2") format("woff2"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.woff") format("woff"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.ttf") format("truetype"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.svg#GalanoGrotesqueW00-Bold") format("svg");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}



.logo {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 6vmax;
	min-width: 56px;
	padding: 2em;
}

.waves {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	display: block;
	min-width: 100%;
	min-height: 70%;
	margin: auto 0;
}

img, svg {
	pointer-events: none;
}

.header {
    display: flex;
    height: 80vh;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, #333333, #222222);
  }
  
.header h1 {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Sarpanch', sans-serif;
    font-size: 20vmin;
    color: #efe6d5;
    text-shadow: 1vmin 1vmin 0 #9dbeb7, -1vmin -1vmin 0 #e73213;
    transition: transform 0.1s;
  }

.header h1:hover {
    transform: scale(1.05);
}

.header a {
    text-decoration: none;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

label {
    display: inline;
    font: 1rem 'Fira Sans', sans-serif;
}

input, label {
    margin: .4rem 0;
}

#scene-container {
    /* tell our scene container to take up the full page */
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
  
    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-color: skyblue;
  }